<mat-card *ngIf="city">
  <mat-card-header>
    <mat-card-title class="card-title">
      <div class="city-name">
        {{ city.name }}
        <span class="city-date">{{ city.dt * 1000 | date: "fullDate" }}</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="weather_content">
      <div class="avg_temperature_container">
        <span class="temperature_value">{{
          city.main.temp | number: "1.0-0"
        }}</span>
        <span class="temperature_degree">&#176;C</span>
      </div>
      <img
        [src]="city.weather[0].icon | weatherIcon"
        alt="Weather Icon"
        class="weather-icon"
      />
    </div>
    <div class="weather-additional-data">
      <div class="min-max-temperature">
        <span class="subtitle-font"
          >{{ city.main.temp_max | number: "1.0-0" }}&#176;</span
        >
        /
        <span class="subtitle-font"
          >{{ city.main.temp_min | number: "1.0-0" }}&#176;</span
        >
      </div>
      <div class="wind">
        <fa-icon [icon]="icons.faWind" class="wind-icon"></fa-icon>
        <span class="wind-value"
          >{{ city.wind.speed | number: "1.0-0" }} m/s Winds</span
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>
