<weather-loading-indicator
  *ngIf="loading$ | async; else loaded"
></weather-loading-indicator>
<ng-template #loaded>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div *ngIf="forecast$ | async as forecast" class="forecast-info-container">
    <div class="row charts" data-ui="charts-container">
      <weather-stacked-area-chart
        title="Wind in {{ forecast.city.name }}, {{ forecast.city.country }}"
        [categories]="winds?.categories"
        yTitle="Winds (m/s)"
        [xTitle]="forecast.city.name"
        [data]="winds?.data"
        class="col-md-5 col-12"
        data-ui="city-winds-chart"
      ></weather-stacked-area-chart>
      <weather-stacked-area-chart
        title="Temperature in {{ forecast.city.name }}, {{
          forecast.city.country
        }}"
        [categories]="temperatures?.categories"
        yTitle="Temperature (°C)"
        [xTitle]="forecast.city.name"
        [data]="temperatures?.data"
        class="col-md-5 col-12"
        data-ui="city-winds-temperature"
      ></weather-stacked-area-chart>
    </div>
    <div class="forecast-detail table-responsive" data-ui="city-table-forecast">
      <table class="table table-hover">
        <thead>
          <th></th>
          <th>Date</th>
          <th>Temperature</th>
          <th>Max/Min Temperature</th>
          <th>Winds</th>
          <th>Humidity</th>
        </thead>
        <tbody>
          <tr *ngFor="let forecastDetail of forecast.list">
            <td>
              <img
                [src]="forecastDetail.weather[0].icon | weatherIcon: 'small'"
                alt="Weather Icon"
                class="weather-icon"
              />
            </td>
            <td>
              {{ forecastDetail.dt_txt | date: "EEEE, MMMM d, y, h:mm a" }}
            </td>
            <td>{{ forecastDetail.main.temp | number: "1.0-0" }}&#176;</td>
            <td>
              {{ forecastDetail.main.temp_max }}&#176; /
              {{ forecastDetail.main.temp_min }}&#176;
            </td>
            <td>{{ forecastDetail.wind.speed }} m/s</td>
            <td>{{ forecastDetail.main.humidity }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
