.flex {
  display: flex;
}
.forecast-info-container {
  padding: 0 10rem 0 10rem;
  @media (max-width: 576px) {
    padding: 0 0.75rem 0 0.75rem;
  }
  .charts {
    justify-content: space-around;
    * {
      padding: 0;
    }
  }
  .forecast-detail {
    margin-top: 2rem;
    .weather-icon {
      width: 25%;
    }
    td {
      text-align: center;
    }
  }
}
